```html
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="author" content="Your Name">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">

<title>Tickets</title>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css">
<script src="../static/script.js" defer></script>
</head>


<body>

<header>

<nav>
<a href="../index.html">Home</a>
<a href="explore.html">Explore</a>
<a href="exhibitions.html">Exhibitions</a>
<a id="navselected" href="tickets.html">Tickets</a>
<a href="checkout.html">Checkout</a>
</nav>

</header>


<img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">


<div class="main">

<h1>Buy Tickets</h1>

<table>

<tr>
<th>Ticket Type</th>
<th>Description</th>
<th>Price</th>
</tr>

<tr>
<td>General</td>
<td>Standard admission for adult visitors.</td>
<td>$15</td>
</tr>

<tr>
<td>Student</td>
<td>Requires student ID.</td>
<td>$10</td>
</tr>

<tr>
<td>Member</td>
<td>Requires member ID.</td>
<td>$0</td>
</tr>

</table>

</div>


<footer>

<p>© <span id="year"></span> MonoMuse. All rights reserved</p>

</footer>


</body>
</html>
```
